<?xml version='1.0' encoding='utf-8'?>
<widget id="com.jeyries.shingazidja" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Shingazidja</name>
    <description>
        Shingazidja - Bienvenue !
    </description>
    <author email="jeyries@gmail.com" href="http://www.jeyries.fr">
        Julien Eyriès
    </author>
    <content src="index.html" />
    <access origin="*" />
    <preference name="fullscreen" value="true" />
    <preference name="webviewbounce" value="true" />
    <feature name="InAppBrowser">
        <param name="android-package" value="org.apache.cordova.inappbrowser.InAppBrowser" />
    </feature>
    <feature name="InAppBrowser">
        <param name="ios-package" value="CDVInAppBrowser" />
    </feature>
    
</widget>
